<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingland.firstspringboot.mapper.StudentModelMapper">

    <select id="getAllStudents" resultType="com.kingland.firstspringboot.model.StudentModel">
        select id, name from stu.student
    </select>

    <select id="getStudentById" resultType="com.kingland.firstspringboot.model.StudentModel">
        select id, name from stu.student where id = #{id}
    </select>

    <insert id="addStudent" parameterType="com.kingland.firstspringboot.model.StudentModel" useGeneratedKeys="true">
        insert into stu.student values (#{id}, #{name})
    </insert>

    <update id="updateStudentById" parameterType="com.kingland.firstspringboot.model.StudentModel">
        update stu.student set name = #{name} where id = #{id}
    </update>

    <delete id="deleteStudentById" parameterType="com.kingland.firstspringboot.model.StudentModel">
        delete from stu.student where id = #{id}
    </delete>
</mapper>
